
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
/.idea/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
###< symfony/webpack-encore-pack ###


.DS_Store
._.DS_Store
assets/.DS_Store
assets/._.DS_Store

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

