{% include "base.html.twig" %}

{% block stylesheets %}
    <style>
        .section {
            padding: 40px 0;
            position: relative;
            background: #FFFFFF;
        }
    </style>
{% endblock %}

{% block body %}
    {% include "topmenu.html.twig" %}

    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                    <div class="input-group input-lg">
                        <input type="text" class="form-control" placeholder="Search project...">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


