{% include "base.html.twig" %}


{% block body %}
    {% include "topmenu.html.twig" %}
    <div class="container-fluid">
        {% if successMessage %}
            <div class="alert-success">
                {{ successMessage }}
            </div>
        {% endif %}
    </div>
{% endblock %}
