{% include "base.html.twig" %}


{% block body %}
    {% include "topmenu.html.twig" %}
    <div class="container-fluid">
        <img src="https://c2.staticflickr.com/8/7312/12532774224_2bff97f1dd_b.jpg" class="img-fluid mx-auto d-block">
    </div>
{% endblock %}
