{% include "base.html.twig" %}


{% block body %}
    {% include "topmenu.html.twig" %}
    <div class="container-fluid">
        {% if user %}
            {{ user.firstName }} {{ user.lastName }} <br>
            {% for role in user.roles %}
                {{ role }} <br>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
