{% include "base.html.twig" %}

    {% block head %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>
    {% endblock %}

<style>
    .right-inner-addon {
        position: relative;
    }
</style>

{% block body %}
    {% include 'topmenu.html.twig' %}
    <br>
    <div class="container text-center">
        <h1>
            LOGIN!
        </h1>
        <form id="login" action="{{ path('login',{"_locale":"ro"}) }}">

            <input type="checkbox" name="submitAction" hidden checked>

            <div class="form-group row">
                <div class="col-sm-4 mx-auto">
                    <div class="right-inner-addon">
                        <input value='{{ lastEmail }}' type="text" class="form-control" name="email" placeholder="Email"
                               required>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4 mx-auto">
                    <div class="right-inner-addon">
                        <input type="password" class="form-control" name="password" placeholder="Parola" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-default">Intra in cont</button>

        </form>
        {{ errorMessage }}

        <button type="button" class="btn btn-link">Ti-ai uitat parola?</button> |
        <a href="{{ path('registerPage') }}">
            <button type="button" class="btn btn-link">Creeaza-ti cont</button>
        </a>
        <br>
        <button type="button" class="btn btn-primary">Buton de fb</button>
        <button type="button" class="btn btn-danger">Buton de goagal</button>


    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#login').bootstrapValidator({
                // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later

                fields: {
                    email: {
                        validators: {
                            notEmpty: {
                                message: 'Va rog introduceti adresa de e-mail.'
                            },
                            stringLength: {
                                max: 50
                            },
                            emailAddress: {
                                message: 'Va rog introduceti o adresa de e-mail valida.'
                            }
                        }
                    },
                    password: {
                        validators: {
                            notEmpty: {
                                message: 'Va rog introduceti parola.'
                            }
                        }
                    }
                }
            })
        });


    </script>

{% endblock %}


