{% include "base.html.twig" %}

{% block stylesheets %}
    <style>
        .carousel-inner .carousel-item.active,
        .carousel-inner .carousel-item-next,
        .carousel-inner .carousel-item-prev {
            display: flex;
        }

        .carousel-inner .carousel-item-right.active,
        .carousel-inner .carousel-item-next {
            transform: translateX(33.3%);
        }

        .carousel-inner .carousel-item-left.active,
        .carousel-inner .carousel-item-prev {
            transform: translateX(-33.3%);
        }

        .carousel-inner .carousel-item-right,
        .carousel-inner .carousel-item-left{
            transform: translateX(0);

        }

        .carousel-control-next-icon:after
        {
            content: '>';
            font-size: 55px;
            color: purple;
        }

        .carousel-control-prev-icon:after {
            content: '<';
            font-size: 55px;
            color: purple;
        }

        .carousel-control-prev {
            margin-left: -45px;
        }

        .carousel-control-next {
            margin-right: -45px;
        }
        .carousel-control {
            width: 0%;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="container text-center my-3">
        <div class="row mx-auto my-auto">
            <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                <div class="carousel-inner w-100" role="listbox" id="inner-carousel">
                    <div class="carousel-item active">
                        <div class="card d-block col-4" style="height: 200px;">
                            <div class="card-block  ">
                                <h1>1</h1>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card d-block col-4" style="height: 200px;">
                            <div class="card-block  ">
                                <h1>2</h1>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card d-block col-4" style="height: 200px;">
                            <div class="card-block  ">
                                <h1>3</h1>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card d-block col-4" style="height: 200px;">
                            <div class="card-block  ">
                                <h1>4</h1>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card d-block col-4" style="height: 200px;">
                            <div class="card-block  ">
                                <h1>5</h1>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card d-block col-4" style="height: 200px;">
                            <div class="card-block  ">
                                <br><br><br>
                                <button type="button" class="btn btn-ligth" onclick="addPerk()"><h1>[+]</h1></button>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#recipeCarousel').carousel({
            interval: 3500
        });

        function concatCarouselItems() {
            $('.carousel .carousel-item').each(function(){
                var next = $(this).next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));

                for (var i=0;i<2;i++) {
                    next=next.next();
                    if (!next.length) {
                        next = $(this).siblings(':first');
                    }

                    next.children(':first-child').clone().appendTo($(this));
                }
            });
        }
        concatCarouselItems();

        function addPerk() {
            var ceva1 = '<div class="carousel-item active">\n' +
                '                        <div class="card d-block col-4" style="height: 200px;">\n' +
                '                            <div class="card-block  ">\n' +
                '                                <h1>1</h1>\n' +
                '                            </div>\n' +
                '                        </div>\n' +
                '                    </div>';

            var plus = '<div class="carousel-item">\n' +
                '                        <div class="card d-block col-4" style="height: 200px;">\n' +
                '                            <div class="card-block  ">\n' +
                '                                <br><br><br>\n' +
                '                                <button type="button" class="btn btn-ligth" onclick="addPerk()"><h1>[+]</h1></button>\n' +
                '                            </div>\n' +
                '                        </div>\n' +
                '                    </div>';

            document.getElementById('inner-carousel').innerHTML = ceva1 + plus;


            concatCarouselItems();
            console.log(document.getElementById('inner-carousel').innerHTML);
        }

        $(document).ready(function () {



            $('#confirmBox').hide();

            $('#btnDelete').on('click', function (e) {
                $('#confirmBox').show();
            });

            $('#btnYes').on('click', function (e) {
                //Do Delete Action Here
                alert("Item Deleted");
                $('#confirmBox').hide();
            });

            $('#btnNo').on('click', function (e) {
                //Cancel Action Here
                alert("Action Cancelled");
                $('#confirmBox').hide();
            });

        });
    </script>
{% endblock %}