<div class="row border rounded">
    <div class="col-lg-4 my-auto">
        <br>
        <div class="row">
            <div class="col-3 col-lg-8 offset-lg-2">
                <img src="../../../../build/keditor/snippets/default/img/yenbai_vietnam_squared.jpg"
                     class="rounded-circle img-thumbnail mx-auto d-block">
            </div>
            <div class="col-9 col-lg-12 mx-auto">
                <div class="row">
                    <div class="col-12 text-center">
                        <h5>{{ user.firstName }} {{ user.lastName }}</h5>
                    </div>
                    <div class="col-12 text-center">
                        <br>
                    </div>
                    <div class="col-12 text-center">
                        <h6>
                            <small>Linia 1 de informatii despre user</small>
                        </h6>
                    </div>
                    <div class="col-12 text-center">
                        <h6>
                            <small>Linia 2 de informatii despre user</small>
                        </h6>
                    </div>
                    <div class="col-12">
                        <br>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary btn-round btn-sm btn-block">Facebook</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary btn-round btn-sm btn-block">LinkedIn</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="col-lg-8">
        <div id="youtube">
            <div id="keditor-content-area-1519509730756" class="keditor-content-area ui-sortable">
                <section class="keditor-ui keditor-container keditor-initialized-container"
                         id="keditor-container-1519509734646">
                    <section class="keditor-ui keditor-container-inner">
                        <div class="col-lg-12 keditor-container-content ui-sortable" data-type="container-content"
                             id="keditor-container-content-1519509734646">
                            <section class="keditor-ui keditor-component keditor-initialized-component"
                                     data-type="component-youtube" id="keditor-component-1519509740398">
                                <section class="keditor-ui keditor-component-content"
                                         id="keditor-component-content-1519509740398">
                                    <div class="youtube-wrapper">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item"
                                                    src="https://www.youtube.com/embed/P5yHEKqx86U"></iframe>
                                        </div>
                                    </div>
                                </section>
                                <div class="keditor-toolbar keditor-toolbar-component"><a href="javascript:void(0);"
                                                                                          class="keditor-ui btn-component-reposition"><i
                                                class="fa fa-arrows"></i></a><a href="javascript:void(0);"
                                                                                class="keditor-ui btn-component-setting"><i
                                                class="fa fa-cog"></i></a> <a href="javascript:void(0);"
                                                                              class="keditor-ui btn-component-duplicate"><i
                                                class="fa fa-files-o"></i></a> <a href="javascript:void(0);"
                                                                                  class="keditor-ui btn-component-delete"><i
                                                class="fa fa-times"></i></a></div>
                            </section>
                        </div>
                    </section>
                    <div class="keditor-toolbar keditor-toolbar-container "><a href="javascript:void(0);"
                                                                               class="keditor-ui btn-container-reposition"><i
                                    class="fa fa-sort"></i></a> <a href="javascript:void(0);"
                                                                   class="keditor-ui btn-container-duplicate"><i
                                    class="fa fa-files-o"></i></a> <a href="javascript:void(0);"
                                                                      class="keditor-ui btn-container-delete"><i
                                    class="fa fa-times"></i></a></div>
                </section>
            </div>
        </div>
    </div>
</div>

