{% include "base.html.twig" %}

{% block javascripts %}
    <script src="{{ asset('build/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block body %}
    {% include "topmenu.html.twig" %}
    <div class="container">
        {% include "Project/Create/editProjectTop.html.twig" %}
        <br>
        {% include "Project/Create/perks.html.twig" %}
        <br>
        {% include "Project/Create/editProjectUserInfo.html.twig" %}
        <br>
        {% include "Project/Create/editProjectContent.html.twig" %}
    </div>

{% endblock %}
